.footer__author {
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media (max-width: 480px) {
  .footer__author {
    font-size: 14px;
    line-height: 17px;
  }
}