.profile__btn_action_edit {
  background-image: url("../../../../images/Vector.png");
  background-repeat: no-repeat;
  background-position: 50%;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  align-self: center;
  justify-self: center;
}

@media (max-width: 720px) {
  .profile__btn_action_edit {
    justify-self: flex-end;
  }
}

@media (max-width: 480px) {
  .profile__btn_action_edit {
    width: 18px;
    height: 18px;
    background-image: url("../../../../images/Vector-s.png");
  }
}