.popup__input {
  font-family: inherit;
  width: 100%;
  min-height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  padding: 0;
}

.popup__input:focus {
  outline: none;
  border: 2px solid #000;
}